.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  margin: 20px;
  background-color: #ccc;
  color:#282c34;
  width: 150px;
  height: 40px;
  border: round;
}

input{
  margin: 20px;
  background-color: #ccc;
  color:#282c34;
  width: 100px;
  height: 20px;
  border: round;
  font-size: large;
}

.filterContainer{
  display: flex;
  padding: 20px;
  margin: 20px;
  height: 30px;
  align-items: center;
}
 
.filterContainer > select{
  margin-left: 10px;
  height: 30px;
  width: 100px;
}

.pokemon-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  grid-gap: 20px; /* Gap between grid items */
}

.pokemon-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.pokemon-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.pokemon-details {
  margin-top: 10px;
}

.pokemon-details h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.pokemon-details p {
  margin: 0;
}
